* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    /* background-color: aquamarine; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: bisque; */
    height: 25rem;
    width: 45rem;
    display: flex;
    border: 2px solid black;
}

.box_calcul {
    /* background-color: azure; */
    height: 100%;
    width: 45%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid black;
}

.box_input {
    /* background-color: aqua; */
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box_input div {
    display: flex;
    flex-direction: column;
}

input[type="number"] {
    height: 2rem;
    padding-left: 2px;
}

.box_resultat {
    /* background-color: azure; */
    height: 100%;
    width: 55%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.resultat {
    /* background-color: aqua; */
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.resultat div {
    display: flex;
    justify-content: space-between;
}

input[type="submit"] {
    background-color: black;
    color: white;
    height: 2.5rem;
    width: 10rem;
}