* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(image/cuisiner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}



.container_general {
    /* background-color: rgba(245, 245, 245, 0.925); */
    /* height: 35rem; */
    width: 55rem;
    /* padding: 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* border-radius: 2rem;
    border: 3px solid black; */

    .first_part {
        /* background-color: blue; */
        background-color: rgba(245, 245, 245, 0.925);
        height: 30rem;
        width: 100%;
        padding: 2rem;
        border-radius: 2rem;
        /* border: 3px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* height: 60%; */

        h1 {
            /* background-color: rgba(255, 255, 255, 0.301); */
            text-align: center;
            padding-bottom: 1rem;
            font-size: 3rem;
            border-radius: 1rem;
            /* color: white; */
        }

        .cont_input_name {
            /* background-color: aqua; */
            height: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            input {
                height: 2rem;
                width: 15rem;
                padding: 0 0.5rem;
                border: 2px solid black;
                border-radius: 0.6rem;
            }

            button {
                background-color: black;
                color: white;
                border: 2px solid white;
                width: 15rem;

            }
        }

        .cont_all_name {
            /* background-color: beige; */
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
        }

        .cont_btn_delet {
            /* background-color: brown; */
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            #delet {
                background-color: #DED9DD;
            }

            #reinit {
                background-color: #CD3A2A;
            }
        }


    }



    .second_part {
        /* background-color: blueviolet; */
        background-color: rgba(245, 245, 245, 0.925);
        height: 13rem;
        width: 100%;
        padding: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 2rem;
        /* border: 3px solid black; */

        .cont_btn_rdm {
            /* background-color: aquamarine; */
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                background-color: #8B9A7C;
            }
        }

        .cont_name_rdm {
            /* background-color: cornsilk; */
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
        }
    }



    button {
        background-color: white;
        padding: 0.7rem 1.5rem;
        border: 2px solid black;
        border-radius: 1rem;
        cursor: pointer;
        font-weight: 550;
        font-size: 1rem;

        &:hover {
            opacity: 0.5;
        }
    }
}