* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
    height: 100vh;
    width: 100vw;
    padding: 0 3rem;
    /* margin: 5rem 0; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    /* background-color: #FF9200; */
    text-align: center;
    padding-top: 2rem;
}

h1 {
    font-size: 4em;
}

section {
    /* height: 15rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    /* padding: 0 3rem; */
}

.container {
    background-color: rgb(22, 22, 22);
    width: 32rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
    border-radius: 40px;
}

.container input {
    background-color: rgb(57, 56, 56);
    color: white;
    height: 4rem;
    width: 25rem;
    font-size: 1.5em;
    background-color: rgb(99, 98, 98);
    border-radius: 30px;
    text-align: right;
    padding: 0 1em;
    border: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
}

input:focus {
    outline: none;
    border: 1px solid whitesmoke;
}

.box_result {
    width: 100%;
    height: 5rem;
    background-color: rgb(40, 39, 39);
}

#result {
    background-color: rgb(40, 39, 39);
    color: white;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    text-align: right;
    padding: 0 1em;
    border: none;
}

.action {
    /* background-color: aqua; */
    /* height: 10rem; */
    /* width: 20rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1.5rem;

}

.action button{
    background-color: #FF9200;
    color: white;
    font-size: 2em;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#clear {
    background-color: #A6A6A6;
}

.equal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal button {
    background-color: #A6A6A6;
    height: 4rem;
    width: 8rem;
    border-radius: 30px;
    color: white;
    font-size: 2em;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 1;
    transform: scale(1.1);
}
.action *:not(:last-child):focus {
    border: 2px solid whitesmoke;
    transform: scale(1.1);
}



