* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(image/care.jpg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    height: 100vh;
    padding: 0 10rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container_position {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container_todo {
        background-color: aqua;
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: column;

        .title_todo {
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box_todo {
            background-color: beige;
            height: 90%;

            .box_add {
                background-color: burlywood;
            }

            .box_list {
                background-color: thistle;
            }
        }
    }
}